# Virtual Environment
venv/
.venv/

# Dataset
dataset/
datasets/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
lib/
lib64/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Node (Frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Machine Learning / Model files
*.h5
*.pkl
*.model
*.weights
__pycache__/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/
